<div class='container'>
    <h2>Add a new user</h2>
    <form method='post' action='/user-management/create-user'>
        <div class='mt-4'>
            <div class='mb-3'>
                <label class='form-label'>first Name</label>
                <input type='text' class='form-control' name='firstName' />
            </div>
            <div class='mb-3'>
                <label
                    for='formGroupExampleInput2'
                    class='form-label'
                >last Name</label>
                <input type='text' class='form-control' name='lastName' />
            </div>
            <div class='mb-3'>
                <label
                    for='formGroupExampleInput2'
                    class='form-label'
                >email</label>
                <input type='text' class='form-control' name='email' />
            </div>
            <div class='mb-3'>
                <label class='form-label'>Password</label>
                <input type='text' class='form-control' name='password' />
            </div>
            <input type='submit' />
        </div>
    </form>
</div>